version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=${MONGO_URI}
      - PORT=${PORT}
      - CLERK_SECRET_KEY=${CLERK_SECRET_KEY}
      - NODE_ENV=development
    command: npm run dev
    env_file:
      - ./.env
  frontend:
      build:
        context: .
        dockerfile: Dockerfile.frontend
        args:
          - VITE_CLERK_PUBLISHABLE_KEY=${VITE_CLERK_PUBLISHABLE_KEY}
          - VITE_SUPABASE_KEY=${VITE_SUPABASE_KEY}
          - VITE_SUPABASE_URL=${VITE_SUPABASE_URL}
          - VITE_API_BASE_URL=http://localhost:5000
      ports:
        - "8080:80"
      depends_on:
        - backend
      env_file:
        - ./.env
