* {
  cursor: none !important;
}

.cursor-inner {
  width: 8px;
  height: 8px;
  background-color: var(--cursor-color);
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 2147483647; /* maximum positive value for a 32-bit signed binary integer*/
  transform: translate(-50%, -50%);
}

.cursor-outer1,
.cursor-outer2 {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 2147483647;
}

.cursor-outer1 {
  width: 35px;
  height: 35px;
  border: 4px solid var(--cursor-color);
  opacity: 0.2;
}

.cursor-outer2 {
  width: 50px;
  height: 50px;
  border: 4px solid var(--cursor-color);
  opacity: 0.1;
}

@keyframes pulseColor {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--cursor-rgb), 0.8);
    background-color: rgba(var(--cursor-rgb), 0.7);
  }
  50% {
    box-shadow: 0 0 10px 10px rgba(var(--cursor-rgb), 0.7);
    background-color: rgba(var(--cursor-rgb), 0.5);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(var(--cursor-rgb), 0.6);
    background-color: rgba(var(--cursor-rgb), 0.3);
  }
}

.cursor-hovering {
  animation: pulseColor 1.2s ease-in-out infinite;
  border-radius: 50%;
}